html {
  font-size: 62.5%;
}

body,
label,
input,
button {
  font-family: 'Akshar', sans-serif;
}

body {
  background-color: #294C60;
}

ul {
  list-style-type: none;
}

/* GENERAL STYLES */
.container {
  max-width: 720px;
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
.main-header {
  background-color: #DBD4D3;
  padding: 2.5rem 0;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  font-size: 3.8rem;
}

.main-header button {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
}

.main-header .add-book-btn {
  background-color: #40F99B;
}

.main-header .add-book-btn:hover {
  background-color: #07DA70;
}

.main-header .clear-book-btn {
  background-color: #E83151;
}

.main-header .clear-book-btn:hover {
  background-color: #CA1634;
}

/* MAIN */