* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
label,
input,
button {
  font-family: 'Akshar', sans-serif;
}

body {
  background-color: #294C60;
}

ul {
  list-style-type: none;
}

/* GENERAL STYLES */
.container {
  max-width: 720px;
  width: 80%;
  margin: 0 auto;
}

button {
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
}

/* HEADER */
.main-header {
  background-color: #DBD4D3;
  padding: 2.5rem 0;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  font-size: 3.8rem;
}

.main-header button {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
}

.main-header .add-book-btn {
  background-color: #40F99B;
}

.main-header .add-book-btn:hover {
  background-color: #07DA70;
}

.main-header .clear-book-btn {
  background-color: #E83151;
}

.main-header .clear-book-btn:hover {
  background-color: #CA1634;
}

/* MAIN */

main .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
}

/* BOOK TILES */
.book-tile {
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 3rem;
  background-color: #5C80BC;
  color: #EAFDF8;
  width: 30%;
  margin-left: 1.67%;
  margin-right: 1.66%;
  margin-bottom: 2rem;
}

.book-tile>* {
  margin-bottom: 1rem;
}

.book-tile h2 {
  font-size: 3.2rem;
}

.book-tile .author-name {
  font-size: 2.4rem;
}

.book-tile .read-status {
  font-size: 1.8rem;
}

.book-tile button {
  font-size: 2rem;
  display: block;
  margin: 0 auto 1rem;
  width: 90%;
  b
}

.book-tile .read-btn {
  background-color: #E83151;
}

.book-tile .read-btn.has-read {
  background-color: #40F99B;
}