* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
label,
input,
button {
  font-family: 'Akshar', sans-serif;
}

body {
  background-color: #294C60;
}

ul {
  list-style-type: none;
}

/* GENERAL STYLES */
.container {
  max-width: 720px;
  width: 80%;
  margin: 0 auto;
}

button {
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
}

/* HEADER */
.main-header {
  background-color: #DBD4D3;
  padding: 2.5rem 0;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1 {
  font-size: 3.8rem;
}

.main-header button {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
}

.main-header .add-book-btn {
  background-color: #40F99B;
}

.main-header .add-book-btn:hover {
  background-color: #07DA70;
}

.main-header .clear-book-btn {
  background-color: #E83151;
}

.main-header .clear-book-btn:hover {
  background-color: #CA1634;
}

/* MAIN */

main .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
}

/* BOOK TILES */
.book-tile {
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 3rem;
  background-color: #5C80BC;
  color: #EAFDF8;
  width: 30%;
  margin-left: 1.67%;
  margin-right: 1.66%;
  margin-bottom: 2rem;
}

.book-tile>* {
  margin-bottom: 1rem;
}

.book-tile h2 {
  font-size: 3.2rem;
}

.book-tile .author-name {
  font-size: 2.4rem;
}

.book-tile .read-status {
  font-size: 1.8rem;
}

.book-tile button {
  font-size: 2rem;
  display: block;
  margin: 0 auto 1rem;
  width: 90%;
  b
}

.book-tile .read-btn {
  background-color: #E83151;
}

.book-tile .read-btn.has-read {
  background-color: #40F99B;
}

/* MODAL */
.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.add-book-popup {
  border: 2px solid #FE9000;
  border-radius: 5px;
  padding: 3rem;
  background-color: #4D5061;
  color: #fff;
  position: relative;
  animation-name: explodein;
  animation-duration: 0.2s;
}

.modal .add-book-popup .exit-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 30px;
  width: 30px;
  background-color: #D81159;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.4rem;
  cursor: pointer;
}

.add-book-popup .tile-header {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.add-book-popup fieldset {
  margin-bottom: 2rem;
}

.add-book-popup label,
.add-book-popup input {
  display: block;
  font-size: 2rem;
}

.add-book-popup label {
  margin-bottom: 0.5rem;
}

.add-book-popup input {
  padding: 0.5rem 1rem;
}

.add-book-popup button {
  font-size: 2.2rem;
  padding: 1rem 2rem;
}


/* ANIMATIONS */
@keyframes explodein {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}